.drop{
    background: turquoise;
    width: 95px;
    position: relative;
}
.drop ul{
    background: lightblue;
    padding: 3px;
    margin:0px;
    list-style-type: none;
    position: absolute;
    visibility: hidden;
    list-style-type: none;
    width: 95px;
}
.drop ul li{
    background: blue;
    text-align: center;
    color: white;
    margin: 0px;
}
/* drop form */
.drop:hover ul{
    visibility: visible;
}
.drop:hover ul li{
    background:red
}
.drp{
    background: turquoise;
    width: 95px;
    position: relative;
}
.drp ul{
    background: crimson;
    padding: 3px;
    margin:0px;
    list-style-type: none;
    position: absolute;
    visibility: hidden;
    list-style-type: none;
    width: 95px;
}
.drp ul li{
    background: blue;
    text-align: center;
    color: white;
    margin: 0px;
}
/* drop form */
.drp:hover ul{
    visibility: visible;
}
.drp:hover ul li{
    background:red
}
.aaa{
    background: green;
    color: white;
    text-align: center;
    font-size: 30px;
}
.abb{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.abc{
    text-align: center;
}
input{
    background: turquoise;
    color: white;
    font-size: 24px;
}
.ddd{
    text-align: center;
    font-size: 24px;
    padding: 20px;
    margin: 30px;
}
.eee{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.fff{
    background: rgba(50, 50, 50, 0.5);
    font-size: 24px;
}
.ggg{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;    
}
@media screen and (max-width:768px){

}